<br>
<!-- <div class="container">
  <div class="row">
    <div class="col-md-12 text-center">
      <p class="text-center"> {{totalitem}} </p>
    </div>
  </div>
</div>

<br>

<div class="container">
  <div class="row">
    <div class="col-md-4" *ngFor = "let x of item1">
        <p> ID : {{x.id}} </p>
        <p> Email : {{x.email}} </p>
        <p> Name : {{x.name}} </p>
        <p> Mobile : {{x.mobile}} </p>
        <p> City : {{x.city}} </p>
        <p> Message : {{x.message}} </p>
    </div>
  </div>
</div> -->

<br>

<div class="container">
  <div class="row">
    <div class="col-md-12 text-center">
      <p class="text-center"> {{totalitem}} </p>
    </div>
  </div>
</div>

<br>

<div class="container">
  <div class="row">
    <div class="col-md-3">
      
      <div class="form-group">
        <label> ID </label>
        <input type="text" class="form-control" placeholder="Enter ID" #id>
      </div>

      <div class="form-group">
        <label> Email </label>
        <input type="text" class="form-control" placeholder="Enter Email" #email>
      </div>

      <div class="form-group">
        <label> Name </label>
        <input type="text" class="form-control" placeholder="Enter Name" #name>
      </div>

      <div class="form-group">
        <label> Mobile </label>
        <input type="text" class="form-control" placeholder="Enter Mobile" #mobile>
      </div>

      <div class="form-group">
        <label> City </label>
        <input type="text" class="form-control" placeholder="Enter City" #city>
      </div>

      <div class="form-group">
        <label> Message </label>
        <input type="text" class="form-control" placeholder="Enter Message" #message>
      </div>

      <div class="form-group text-center">
        <button class="btn btn-success"> Save </button>
      </div>

    </div>
    <div class="col-md-9">
      <table class="table table-bordered">
        <tr>
          <th> ID </th>
          <th> Email </th>
          <th> Name </th>
          <th> Mobile </th>
          <th> City </th>
          <th> Message </th>
        </tr>

        <tr *ngFor = "let x of item1">
          <td> {{x.id}} </td>
          <td> {{x.email}} </td>
          <td> {{x.name}} </td>
          <td> {{x.mobile}} </td>
          <td> {{x.city}} </td>
          <td> {{x.message}} </td>
        </tr>
      </table>
    </div>
  </div>
</div>